# Sub-question: Digitalization (processing part)
## Part 1 - Data Import

The European Commission has monitored Member Statesâ€™ progress on digital and published annual Digital Economy and Society Index (DESI) reports since 2014. We reference to this index system to analyse the data, and extract four indicators.

These ICT statistics can help scholars to study how digital technologies are transforming in different countries.

1. Human capital

Individuals who have basic or above basic overall digital skills.

Unit of measure: Percentage of individuals

URL: https://ec.europa.eu/eurostat/databrowser/view/tepsr_sp410/default/table?lang=en

2. Connectivity

Households with broadband access

Unit of measure: Percentage of households

URL: https://ec.europa.eu/eurostat/databrowser/view/tin00073/default/table?lang=en

3. Integration of digital technology by businesses

Enterprises using software solutions, like CRM (ustomer Relationship Management) to analyse information about clients for marketing purposes

Unit of measure: Percentage of enterprises

URL: https://ec.europa.eu/eurostat/databrowser/view/tin00116/default/table?lang=en

4. Public services

Individuals using the internet for interaction with public authorities

Unit of measure: Percentage of individuals

URL: https://ec.europa.eu/eurostat/databrowser/view/tin00012/default/table?lang=en

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
# load data from text files
df_human_1_raw = pd.read_csv('./raw/isoc_sk_dskl_i__custom_3247450.tsv',sep = '\t')
df_human_2_raw = pd.read_csv('./raw/tepsr_sp410.tsv',sep = '\t')

df_conn_raw = pd.read_csv('./raw/tin00073.tsv',sep = '\t')
df_tech_raw = pd.read_csv('./raw/tin00116.tsv',sep = '\t')
df_pub_raw = pd.read_csv('./raw/tin00012.tsv',sep = '\t')

In [3]:
# column name by features
human_col = ['EU Human Capital', 'NL Human Capital', 'PL Human Capital', 'RO Human Capital']
conn_col = ['EU Connectivity', 'NL Connectivity', 'PL Connectivity', 'RO Connectivity']
tech_col = ['EU Technology', 'NL Technology', 'PL Technology', 'RO Technology']
pub_col = ['EU Public Service', 'NL Public Service', 'PL Public Service', 'RO Public Service']

# clean tabular data
# set rows as year, columns as features
# human capital
df_human_1 = df_human_1_raw.T
df_human_1 = df_human_1.iloc[1:]
df_human_1.set_axis(human_col, axis='columns', inplace=True)

df_human_2 = df_human_2_raw.T
df_human_2 = df_human_2.iloc[1:]
df_human_2.set_axis(human_col, axis='columns', inplace=True)

df_human = pd.concat([df_human_1,df_human_2])

# connectivity
df_conn = df_conn_raw.T
df_conn = df_conn.iloc[1:]
df_conn.set_axis(conn_col, axis='columns', inplace=True)

# integration of digital technology by businesses
df_tech = df_tech_raw.T
df_tech = df_tech.iloc[1:]
df_tech.set_axis(tech_col, axis='columns', inplace=True)

# public service
df_pub = df_pub_raw.T
df_pub = df_pub.iloc[1:]
df_pub.set_axis(pub_col, axis='columns', inplace=True)

display(df_human)
display(df_conn)
display(df_tech)
display(df_pub)

      EU Human Capital NL Human Capital PL Human Capital RO Human Capital
2015                55               72               40               26
2016                56               77               44               28
2017                57               79               46               29
2019                58               79               44               31
2021                54               79               43               28

      EU Connectivity NL Connectivity PL Connectivity RO Connectivity
2010               61              80              57              23
2011               65              83              61              31
2012               71              84              67              50
2013               74              87              69              56
2014              77              94              71             58 b
2015               78              94              71              65
2016               82              95              76              70
2017               83              98              78              74
2018               85              97              79              79
2019               88              98              83              82
2020             89 e             97              90              84
2021             90 b             99              92              88

      EU Technology NL Technology PL Technology RO Technology
2009             17            18            13            13
2010             18            16            13            14
2012             19            20            13            13
2013             :            22            16            11
2014             20            27            16            14
2015             21            30            18            15
2017             21            28            16            13
2019             19            26            21            14
2021             19            27            21            11

      EU Public Service NL Public Service PL Public Service RO Public Service
2010                 40                64                28                 8
2011                 41                62                28                 7
2012                 44                67                32                31
2013                 42                79                23                 5
2014                46                75                27               10 b
2015                 46                75                27                11
2016                 48                76                30                 9
2017                 49                79                31                 9
2018                 51                82                35                 9
2019                 53                81                40                12
2020               57 e               86                42                13
2021               58 b               87                47                15

## Part 2 - Data Processing
Creating an index system, combining 4 indicators.

### 2.1 Fill non-numeric values
The missing value is filled manually. We reference to their nearest neighbours to determine the value.

In [4]:
# combine raw tables
# there are many null / wrong values
df_digi_raw = pd.concat([df_human, df_conn, df_tech, df_pub], axis=1)
df_digi_raw = df_digi_raw.sort_index(ascending=True)
display(df_digi_raw)

,EU Human Capital,NL Human Capital,PL Human Capital,RO Human Capital,EU Connectivity,NL Connectivity,PL Connectivity,RO Connectivity,EU Technology,NL Technology,PL Technology,RO Technology,EU Public Service,NL Public Service,PL Public Service,RO Public Service
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,18,13,13,NaN,NaN,NaN,NaN
2010,NaN,NaN,NaN,NaN,61,80,57,23,18,16,13,14,40,64,28,8
2011,NaN,NaN,NaN,NaN,65,83,61,31,NaN,NaN,NaN,NaN,41,62,28,7
2012,NaN,NaN,NaN,NaN,71,84,67,50,19,20,13,13,44,67,32,31
2013,NaN,NaN,NaN,NaN,74,87,69,56,:,22,16,11,42,79,23,5
2014,NaN,NaN,NaN,NaN,77,94,71,58 b,20,27,16,14,46,75,27,10 b
2015,55,72,40,26,78,94,71,65,21,30,18,15,46,75,27,11
2016,56,77,44,28,82,95,76,70,NaN,NaN,NaN,NaN,48,76,30,9
2017,57,79,46,29,83,98,78,74,21,28,16,13,49,79,31,9
2018,NaN,NaN,NaN,NaN,85,97,79,79,NaN,NaN,NaN,NaN,51,82,35,9
2019,58,79,44,31,88,98,83,82,19,26,21,14,53,81,40,12
2020,NaN,NaN,NaN,NaN,89 e,97,90,84,NaN,NaN,NaN,NaN,57 e,86,42,13
2021,54,79,43,28,90 b,99,92,88,19,27,21,11,58 b,87,47,15

In [5]:
# manually fill null / wrong value
# human capital
df_human.at['2018 ', 'EU Human Capital'] = 57
df_human.at['2020 ', 'EU Human Capital'] = 57
df_human.at['2018 ', 'NL Human Capital'] = 79
df_human.at['2020 ', 'NL Human Capital'] = 79
df_human.at['2018 ', 'PL Human Capital'] = 45
df_human.at['2020 ', 'PL Human Capital'] = 44
df_human.at['2018 ', 'RO Human Capital'] = 30
df_human.at['2020 ', 'RO Human Capital'] = 30

# connectivity
df_conn.at['2020 ', 'EU Connectivity'] = 89
df_conn.at['2021 ', 'EU Connectivity'] = 90
df_conn.at['2014 ', 'RO Connectivity'] = 58

# integration of digital technology by businesses
df_tech.at['2011 ', 'EU Technology'] = 19
df_tech.at['2013 ', 'EU Technology'] = 20
df_tech.at['2016 ', 'EU Technology'] = 21
df_tech.at['2018 ', 'EU Technology'] = 20
df_tech.at['2020 ', 'EU Technology'] = 19

df_tech.at['2011 ', 'NL Technology'] = 18
df_tech.at['2016 ', 'NL Technology'] = 29
df_tech.at['2018 ', 'NL Technology'] = 27
df_tech.at['2020 ', 'NL Technology'] = 26

df_tech.at['2011 ', 'PL Technology'] = 13
df_tech.at['2016 ', 'PL Technology'] = 17
df_tech.at['2018 ', 'PL Technology'] = 19
df_tech.at['2020 ', 'PL Technology'] = 21

df_tech.at['2011 ', 'RO Technology'] = 13
df_tech.at['2016 ', 'RO Technology'] = 14
df_tech.at['2018 ', 'RO Technology'] = 14
df_tech.at['2020 ', 'RO Technology'] = 13

# public services
df_pub.at['2020 ', 'EU Public Service'] = 57
df_pub.at['2021 ', 'EU Public Service'] = 58
df_pub.at['2014 ', 'RO Public Service'] = 10

# sort index by ascending
df_human = df_human.sort_index(ascending=True)
df_conn = df_conn.sort_index(ascending=True)
df_tech = df_tech.sort_index(ascending=True)
df_pub = df_pub.sort_index(ascending=True)

In [6]:
# merge to one table
df_digi = pd.concat([df_human, df_conn, df_tech, df_pub], axis=1)
df_digi = df_digi.sort_index(ascending=True)
df_digi.index.names = ['Year']
df_digi= df_digi.apply(pd.to_numeric) # from object to int / float

# remove unwanted rows
df_digi = df_digi.iloc[1:]
df_digi_2 = df_digi.iloc[5:]
display(df_digi)

,EU Human Capital,NL Human Capital,PL Human Capital,RO Human Capital,EU Connectivity,NL Connectivity,PL Connectivity,RO Connectivity,EU Technology,NL Technology,PL Technology,RO Technology,EU Public Service,NL Public Service,PL Public Service,RO Public Service
Year,,,,,,,,,,,,,,,,
2010,NaN,NaN,NaN,NaN,61.0,80.0,57.0,23.0,18,16,13,14,40.0,64.0,28.0,8.0
2011,NaN,NaN,NaN,NaN,65.0,83.0,61.0,31.0,19,18,13,13,41.0,62.0,28.0,7.0
2012,NaN,NaN,NaN,NaN,71.0,84.0,67.0,50.0,19,20,13,13,44.0,67.0,32.0,31.0
2013,NaN,NaN,NaN,NaN,74.0,87.0,69.0,56.0,20,22,16,11,42.0,79.0,23.0,5.0
2014,NaN,NaN,NaN,NaN,77.0,94.0,71.0,58.0,20,27,16,14,46.0,75.0,27.0,10.0
2015,55.0,72.0,40.0,26.0,78.0,94.0,71.0,65.0,21,30,18,15,46.0,75.0,27.0,11.0
2016,56.0,77.0,44.0,28.0,82.0,95.0,76.0,70.0,21,29,17,14,48.0,76.0,30.0,9.0
2017,57.0,79.0,46.0,29.0,83.0,98.0,78.0,74.0,21,28,16,13,49.0,79.0,31.0,9.0
2018,57.0,79.0,45.0,30.0,85.0,97.0,79.0,79.0,20,27,19,14,51.0,82.0,35.0,9.0
2019,58.0,79.0,44.0,31.0,88.0,98.0,83.0,82.0,19,26,21,14,53.0,81.0,40.0,12.0
2020,57.0,79.0,44.0,30.0,89.0,97.0,90.0,84.0,19,26,21,13,57.0,86.0,42.0,13.0
2021,54.0,79.0,43.0,28.0,90.0,99.0,92.0,88.0,19,27,21,11,58.0,87.0,47.0,15.0

### 2.2 Compute Overall Digitalization Index
Digitalization Index is the mean value of the four attributes.

In [7]:
# compute the general index
# column names
eu_col = ['EU Human Capital', 'EU Connectivity', 'EU Technology', 'EU Public Service']
nl_col = ['NL Human Capital', 'NL Connectivity', 'NL Technology', 'NL Public Service']
pl_col = ['PL Human Capital', 'PL Connectivity', 'PL Technology', 'PL Public Service']
ro_col = ['RO Human Capital', 'RO Connectivity', 'RO Technology', 'RO Public Service']

# extract sub-dataframes by countries
df_digi_eu = df_digi_2.loc[:, nl_col]
df_digi_nl = df_digi_2.loc[:, nl_col]
df_digi_pl = df_digi_2.loc[:, pl_col]
df_digi_ro = df_digi_2.loc[:, ro_col]

# obtain the indicator by mean values
eu_index = df_digi_nl.mean(axis=1)
nl_index = df_digi_nl.mean(axis=1)
pl_index = df_digi_pl.mean(axis=1)
ro_index = df_digi_ro.mean(axis=1)

# merge the results with the original table
df_index = pd.concat({'EU Digi Index': eu_index, 'NL Digi Index': nl_index, 'PL Digi Index': pl_index, 'RO Digi Index': ro_index}, axis=1)
display(df_index)

       EU Digi Index  NL Digi Index  PL Digi Index  RO Digi Index
Year
2015           67.75          67.75          39.00          29.25
2016           69.25          69.25          41.75          30.25
2017           71.00          71.00          42.75          31.25
2018           71.25          71.25          44.50          33.00
2019           71.00          71.00          47.00          34.75
2020           72.00          72.00          49.25          35.00
2021           73.00          73.00          50.75          35.50

In [8]:
# merge to one table
df_digi_final = pd.concat([df_digi, df_index], axis=1)
display(df_digi_final)

,EU Human Capital,NL Human Capital,PL Human Capital,RO Human Capital,EU Connectivity,NL Connectivity,PL Connectivity,RO Connectivity,EU Technology,NL Technology,PL Technology,RO Technology,EU Public Service,NL Public Service,PL Public Service,RO Public Service,EU Digi Index,NL Digi Index,PL Digi Index,RO Digi Index
Year,,,,,,,,,,,,,,,,,,,,
2010,NaN,NaN,NaN,NaN,61.0,80.0,57.0,23.0,18,16,13,14,40.0,64.0,28.0,8.0,NaN,NaN,NaN,NaN
2011,NaN,NaN,NaN,NaN,65.0,83.0,61.0,31.0,19,18,13,13,41.0,62.0,28.0,7.0,NaN,NaN,NaN,NaN
2012,NaN,NaN,NaN,NaN,71.0,84.0,67.0,50.0,19,20,13,13,44.0,67.0,32.0,31.0,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,NaN,74.0,87.0,69.0,56.0,20,22,16,11,42.0,79.0,23.0,5.0,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,77.0,94.0,71.0,58.0,20,27,16,14,46.0,75.0,27.0,10.0,NaN,NaN,NaN,NaN
2015,55.0,72.0,40.0,26.0,78.0,94.0,71.0,65.0,21,30,18,15,46.0,75.0,27.0,11.0,67.75,67.75,39.00,29.25
2016,56.0,77.0,44.0,28.0,82.0,95.0,76.0,70.0,21,29,17,14,48.0,76.0,30.0,9.0,69.25,69.25,41.75,30.25
2017,57.0,79.0,46.0,29.0,83.0,98.0,78.0,74.0,21,28,16,13,49.0,79.0,31.0,9.0,71.00,71.00,42.75,31.25
2018,57.0,79.0,45.0,30.0,85.0,97.0,79.0,79.0,20,27,19,14,51.0,82.0,35.0,9.0,71.25,71.25,44.50,33.00
2019,58.0,79.0,44.0,31.0,88.0,98.0,83.0,82.0,19,26,21,14,53.0,81.0,40.0,12.0,71.00,71.00,47.00,34.75
2020,57.0,79.0,44.0,30.0,89.0,97.0,90.0,84.0,19,26,21,13,57.0,86.0,42.0,13.0,72.00,72.00,49.25,35.00
2021,54.0,79.0,43.0,28.0,90.0,99.0,92.0,88.0,19,27,21,11,58.0,87.0,47.0,15.0,73.00,73.00,50.75,35.50

### 2.3 Save file

In [10]:
# save file
df_digi_final.to_csv('./process/digi.csv')